body {
  font-family: 'Oswald', Helvetica,sans-serif;
  font-size: 100%;
  margin: 0;
}
/*header*/
header {
  background-color: #0568bf;
}

nav {
  background-color: #2d2d2d;
}

nav, .header-top, section.contenedor {
  padding-left: 7%;
  padding-right: 7%;
}

.header-top {
  padding-top: 14px;
  padding-bottom: 14px;
}

nav>ul {
  list-style-type: none;
  margin:0px;
  padding-top: 16px;
  padding-bottom: 12px;
  padding-left: 0;
  display:flex;
}
nav>ul>li {
  display: inline;
  color: white;
}

nav>ul>li>a {
  text-align: center;
  text-decoration: none;
  padding: 13px 10px 13px 10px;
}

nav>ul>li>a:link,nav>ul>li>a:visited,nav>ul>li>a:focus,nav>ul>li>a:hover,nav>ul>li>a:active{
  color: white;
}

a.link-home:link, a.link-home:visited{
  border-top: 3px solid #3f4457;
}
a.link-locales:link,a.link-locales:visited {
  border-top: 3px solid #ee1c24;
}
a.link-regionales:link,a.link-regionales:visited{
  border-top: 3px solid #007236;
}
a.link-policiales:link,a.link-policiales:visited{
  border-top: 3px solid #ebb424;
}
a.link-deportes:link,a.link-deportes:visited{
  border-top: 3px solid #8c6239;
}
a.link-culturales:link,a.link-culturales:visited{
  border-top: 3px solid #0072bc;
}
a.link-suplementos:link,a.link-suplementos:visited{
  border-top: 3px solid #ed008c;
}
a.link-servicios:link,a.link-servicios:visited{
  border-top: 3px solid #ee1c24;
}
a.link-opiniones:link,a.link-opiniones:visited{
  border-top: 3px solid #f26522;
}
a.link-info-general:link,a.link-info-general:visited{
  border-top: 3px solid #39b54a;
}


a.link-home:focus, a.link-home:hover, a.link-home:active, a.link-home.active{
  background-color: #3f4457;
}
a.link-locales:focus, a.link-locales:hover, a.link-locales:active, a.link-locales.active {
  background-color:#ee1c24;
}
a.link-regionales:focus, a.link-regionales:hover, a.link-regionales:active, a.link-regionales.active {
  background-color: #007236;
}
a.link-policiales:focus, a.link-policiales:hover, a.link-policiales:active, a.link-policiales.active {
  background-color: #ebb424;
}
a.link-deportes:focus, a.link-deportes:hover, a.link-deportes:active, a.link-deportes.active {
  background-color: #8c6239;
}
a.link-culturales:focus, a.link-culturales:hover, a.link-culturales:active, a.link-culturales.active{
  background-color: #0072bc;
}
a.link-suplementos:focus, a.link-suplementos:hover, a.link-suplementos:active, a.link-suplementos.active{
  background-color: #ed008c;
}
a.link-servicios:focus, a.link-servicios:hover, a.link-servicios:active,a.link-servicios.active{
  background-color: #ee1c24;
}
a.link-opiniones:focus, a.link-opiniones:hover, a.link-opiniones:active,a.link-opiniones.active{
  background-color: #f26522;
}
a.link-info-general:focus, a.link-info-general:hover, a.link-info-general:active,a.link-info-general.active{
  background-color: #39b54a;
}

/*Seccion principal*/
section.contenedor{
  display: flex;
}
section.noticias{
  width: 48%;
  margin-right: 2%;
  box-sizing: border-box;
}
section.ultimas-noticias{
  width: 28%;
  margin-right: 2%;
  padding-top:26px;
  box-sizing: border-box;
  background-color: #f9f9f9;
}
aside.sidebar{
  width: 20%;
  padding-top:26px;
  box-sizing: border-box;
  background-color: #f9f9f9;
}

h1,h2,h3,h4,h5,h6{
  color: #2d2d2d;
  font-weight: normal;
}
section.contenedor p{
  color:#333333;
}
h2.titulo-seccion{
  padding-bottom:10px;
  border-bottom: 3px solid #222;
  margin-bottom: 14px;
  font-size: 24px;
}
h3.titulo-resumen{
  font-size: 20px;
  margin:0;
}
h3.titulo-resumen:hover, h4.titulo-resumen:hover{
  color:#818181;
  cursor: pointer;
}
article.resumen-noticia{
  display: flex;
  padding-bottom:40px;
  border-bottom: 1px solid rgb(224,224,224);
  margin-bottom: 20px;
}
article.resumen-noticia>div.imagen-wrapper{
  width: 55%;
  margin-right: 5%;
}
img.imagen-resumen{
  width: 100%;
}
img.imagen-resumen:hover{
  opacity: 0.8;
  cursor:pointer;
}
article.resumen-noticia>div.resumen-wrapper{
  width: 40%;
}
p.fecha-noticia{
  font-size: 11px;
  margin: 0;
  padding:0;
}
p.parrafo-resumen{
  font-size: 14px;
  margin-top:0;
  margin-bottom: 10%;
  padding:0;
}

button.boton-info{
  -webkit-border-radius: 4;
  -moz-border-radius: 4;
  border-radius: 4px;
  color: #ffffff;
  font-size: 12px;
  background: #0568bf;
  padding: 7px 10px 7px 10px;
  text-decoration: none;
  border-width: 0;
  float: right;
}

button.boton-info:hover{
  background: #818181;
  text-decoration: none;
  cursor: pointer;
}

input.search{
  width: 75%;
  margin-left:6px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.boton-search {
  -webkit-border-radius: 4;
  -moz-border-radius: 4;
  border-radius: 4px;
  color: #ffffff;
  font-size: 12px;
  background: #0568bf;
  padding: 10px 13px 10px 13px;
  margin-right: 5px;
  text-decoration: none;
  border-width: 0;
  float: right;
}

.boton-search:hover {
  background: #545454;
  text-decoration: none;
  cursor: pointer;
}
section.listado-ultimas-noticias{
  margin-left: 2%;
  margin-right: 2%;
  background-color: white;
}
section.listado-ultimas-noticias >h1{
  color:white;
  background-color: #0568bf;
  font-size: 18px;
  padding: 10px 0 10px 10px;
}
article.resumen-ultima-noticia{
  display: flex;
  padding-bottom:15px;
  border-bottom: 1px solid rgb(224,224,224);
  margin-bottom: 20px;
}
article.resumen-ultima-noticia>div.resumen-wrapper>h4{
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}
article.resumen-ultima-noticia>p{
  font-size: 10px;
}


article.resumen-ultima-noticia>div.imagen-wrapper{
  width: 25%;
  margin-right: 5%;
}
img.imagen-ultima-noticia{
  width: 90px;
  height: 75px;
  margin-right: 5%;
}
img.imagen-ultima-noticia:hover{
  opacity: 0.8;
  cursor:pointer;
}
article.resumen-ultima-noticia>div.resumen-wrapper{
  width: 70%;
}


aside.sidebar >div.imagen-wrapper, section.related>div.imagen-wrapper{
  text-align: center;
  width: 94%;
  margin: 0 3% 5% 3%;
}
aside.sidebar >section.related{
  width: 100%;
  margin-bottom: 5%;
}
section.related{
  background-color: white;
}
section.related>h1{
  color:white;
  background-color: #0568bf;
  font-size: 18px;
  padding: 10px 0 10px 10px;
  text-transform: uppercase;
}
section.related>div.imagen-wrapper>img{
  width: 100%;
}
