body {
  font-family: 'Oswald', Helvetica,sans-serif;
  font-size: 100%;
  margin: 0;
}

header {
  background-color: #0568bf;
}

nav {
  background-color: #2d2d2d;
}

nav, .header-top, section.contenedor {
  padding-left: 7%;
  padding-right: 7%;
}

.header-top {
  padding-top: 14px;
  padding-bottom: 14px;
}

nav>ul {
  list-style-type: none;
  margin:0px;
  padding-top: 16px;
  padding-bottom: 12px;
  padding-left: 0;
  display:flex;
}
nav>ul>li {
  display: inline;
  color: white;
}

nav>ul>li>a {
  text-align: center;
  text-decoration: none;
  padding: 13px 10px 13px 10px;
}

nav>ul>li>a:link{
  color: white;
}

a.link-home:link, a.link-home:visited{
  color:white;
  border-top: 3px solid #3f4457;
}
a.link-locales:link,a.link-locales:visited {
  color:white;
  border-top: 3px solid #ee1c24;
}
a.link-regionales:link,a.link-regionales:visited{
  color:white;
  border-top: 3px solid #007236;
}
a.link-policiales:link,a.link-policiales:visited{
  color:white;
  border-top: 3px solid #ebb424;
}
a.link-deportes:link,a.link-deportes:visited{
  color:white;
  border-top: 3px solid #8c6239;
}
a.link-culturales:link,a.link-culturales:visited{
  color:white;
  border-top: 3px solid #0072bc;
}
a.link-suplementos:link,a.link-suplementos:visited{
  color:white;
  border-top: 3px solid #ed008c;
}
a.link-servicios:link,a.link-servicios:visited{
  color:white;
  border-top: 3px solid #ee1c24;
}
a.link-opinioes:link,a.link-opinioes:visited{
  color:white;
  border-top: 3px solid #f26522;
}
a.link-info-general:link,a.link-info-general:visited{
  color:white;
  border-top: 3px solid #39b54a;
}


a.link-home:focus, a.link-home:hover, a.link-home:hover {
  color:white;
  background-color: #3f4457;
}
a.link-locales:focus, a.link-locales:hover, a.link-locales:hover {
  color:white;
  background-color:#ee1c24;
}
a.link-regionales:focus, a.link-regionales:hover, a.link-regionales:hover {
  color:white;
  background-color: #007236;
}
a.link-policiales:focus, a.link-policiales:hover, a.link-policiales:hover {
  color:white;
  background-color: #ebb424;
}
a.link-deportes:focus, a.link-deportes:hover, a.link-deportes:hover {
  color:white;
  background-color: #8c6239;
}
a.link-culturales:focus, a.link-culturales:hover, a.link-culturales:hover {
  color:white;
  background-color: #0072bc;
}
a.link-suplementos:focus, a.link-suplementos:hover, a.link-suplementos:hover {
  color:white;
  background-color: #ed008c;
}
a.link-servicios:focus, a.link-servicios:hover, a.link-servicios:hover {
  color:white;
  background-color: #ee1c24;
}
a.link-opinioes:focus, a.link-opinioes:hover, a.link-opinioes:hover {
  color:white;
  background-color: #f26522;
}
a.link-info-general:focus, a.link-info-general:hover, a.link-info-general:hover {
  color:white;
  background-color: #39b54a;
}

section.contenedor{
  display: flex;
}
section.noticias{
  width: 48%;
  margin-right: 2%;
  box-sizing: border-box;
}
section.ultimas-noticias{
  width: 28%;
  margin-right: 2%;
  box-sizing: border-box;
}
aside.sidebar-publicidad{
  width: 20%;
  box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6{
  color: #2d2d2d;
  font-weight: normal;
}
section.contenedor p{
  color:#333333;
}
h2.titulo-seccion{
  padding-bottom:10px;
  border-bottom: 3px solid #222;
  margin-bottom: 14px;
  font-size: 24px;
}
h3.titulo-resumen{
  font-size: 20px;
  margin:0;
}
h3.titulo-resumen:hover{
  color:#818181;
  cursor: pointer;
}
article.resumen-noticia{
  display: flex;
  padding-bottom:40px;
  border-bottom: 1px solid rgb(224,224,224);
  margin-bottom: 20px;
}
article.resumen-noticia>div.imagen-wrapper{
  width: 55%;
  margin-right: 5%;
}
img.imagen-resumen{
  width: 100%;
}
img.imagen-resumen:hover{
  opacity: 0.8;
  cursor:pointer;
}
article.resumen-noticia>div.resumen-wrapper{
  width: 40%;
}
p.fecha-noticia{
  font-size: 11px;
  margin: 0;
  padding:0;
}
p.parrafo-resumen{
  font-size: 14px;
  margin-top:0;
  margin-bottom: 10%;
  padding:0;
}

button.boton-info{
  -webkit-border-radius: 4;
  -moz-border-radius: 4;
  border-radius: 4px;
  font-family: Arial;
  color: #ffffff;
  font-size: 12px;
  background: #0568bf;
  padding: 7px 10px 7px 10px;
  text-decoration: none;
  border-width: 0;
  float: right;
}

button.boton-info:hover {
  background: #818181;
  text-decoration: none;
  cursor: pointer;
}
